{% extends "base.html" %}
{% block main %}
<p>
Title: {{ object.title }}<br/>
Teacher: {{ object.referent.first_name }} {{ object.referent.last_name }}<br/>
Description: {{ object.description }}<br/>
{% if can_edit_course %}
  <a href="{% url "courses:edit_course" object.id %}">Edit</a>
{% endif %}
{% if can_add_part %}
  <a href="{% url "courses:add_part" object.id %}">Add a new part</a>
{% endif %}
</p>
<p>
{% if object.part_set.all %}
<ul>
  {% for part in object.part_set.all %}
  <li><a href="{% url "courses:detail_part" part.id %}">{{ part.title }}</a></li>
  {% endfor %}
</ul>
{% else %}
  No parts have been defined in this course
{% endif %}
</p>
{% endblock %}
