{% extends "base.html" %}
{% block main %}
<p>
  <a href="{% url "courses:detail_course" object.course.id %}">Return to course</a><br/>
  Title: {{ object.title }}<br/>
  Description: {{ object.description }}<br/>
  {% if can_edit_part %}
    <a href="{% url "courses:edit_part" object.id %}">Edit</a>
  {% endif %}
  {% if can_add_sequence %}
    <a href="{% url "courses:add_sequence" object.id %}">Add a new sequence</a>
  {% endif %}
</p>
<p>
  {% with sequences=object.sequence_set.all %}
  {% if sequences %}
    <ul>
      {% for sequence in sequences %}
        <li><a href="{% url "courses:detail_sequence" sequence.id %}">{{ sequence.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    There are no sections in this part.
  {% endif %}
  {% endwith %}
{% endblock %}
