{% load breadcrumb %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>
      {% block title %}
        Default title
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      This is the header.<br/>
      {% if request.user.is_authenticated %}
        Hello <a href="{% url "accounts:profile" %}">{{ request.user.first_name }} {{ request.user.last_name }}</a> !
        <nav>
          <ul>
            <li><a href="{% url "courses:list_course" %}">Courses</a></li>
            <li><a href="{% url "classes:list_group" %}">Groups</a></li>
            <li><a href="{% url "accounts:logout" %}">Logout</a></li>
          </ul>
        </nav>
      {% else %}
        <a href="{% url "accounts:login" %}">Login</a>
      {% endif %}
    </header>
    <hr/>
    {% if object %}
      {% breadcrumb %}
    {% endif %}
    <hr/>
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <hr/>
    <footer>
      This is a random footer.
    </footer>
  </body>
</html>
